@import url(https://fonts.googleapis.com/css2?family=Kalam:wght@100;200;300;400;500;600;700&display=swap);


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    font-family: 'Kalam', handwriting;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient();
}


.container {
    user-select: none;
    border: 1px solid #333;
    padding: 10px 20px;
    border: 8px;
    cursor: pointer;
}
